body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Support pour l'arabe */
*[lang="ar"], *[dir="rtl"] {
  font-family: 'Noto Sans Arabic', 'Amiri', 'Scheherazade New', 'Traditional Arabic', Arial, sans-serif;
  direction: rtl;
  unicode-bidi: bidi-override;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
